
/*Estilo Geral*/
*{
    margin: 0;
    padding:0 ; 
    box-sizing: border-box; 
   font-family: "Science Gothic", sans-serif;
}

body{
    background: hsl(278, 88%, 30%);
    height: 100vh;
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

.logo img{
    width: 80px;
    height: auto;
    display: block;
}

.img-topo-site img{
    width: 350px;
    height: auto;
    display: block; 
    border-radius: 20px;              
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.4); 
    transition: .3s;                   
}
.img-topo-site img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 35px rgba(0, 255, 255, 0.7);
    cursor : pointer; 
    transition: .2s;
}

.img-sobre-mim img{
    width: 280px; 
    height: auto; 
    display: block; 
    border-radius: 20px;   

}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px; 
    font-weight: 700;
    background-color: hwb(182 11% 8%);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
h2.titulo{
    color: #fff;
    font-size: 30px;
    text-align: center;
}
h2.titulo span {
    color: hwb(182 11% 8%); 
}

.flex {
    display: flex;
}
/* Header(cabeçalho) */

header{
    padding: 40px 4%;

}

header > .interface{   /*para identificar os elemntos dessa tag */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #2e2c2c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.10);
}


header nav ul{
    list-style-type: none;


}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}



.btn-contato button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px hwb(182 11% 8%);
    transform: scale(1.05);
    transition: .2s;
}

/* topo do site */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site  h1{
    color: hwb(0 100% 0%);
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: hwb(182 11% 8%);
}

.topo-do-site .txt-topo-site p{
    color: #fff; 
    margin: 40px 0px;
}

.topo-do-site .txt-topo-site p span{
    color: hwb(182 11% 8%); 

}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: animação 2s ease-in-out infinite alternate;
}

@keyframes animação {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }

}
/*Estilo das especialidades*/

section.Especialidades{
    padding: 40px 4%;
}

section.Especialidades .flex{
    gap: 60px; 
}
.Especialidades .especialidades-box{
    color: #fff; 
    padding: 40px ; 
    border-radius: 25px;
    border: 2px solid #ffffff00; 
    margin-top: 25px;
}

.Especialidades .especialidades-box:hover{
    color:#fff;
    transform: scale(1.03);
    box-shadow: 0 0 35px rgba(0, 255, 255, 0.7);
    cursor : pointer; 
    transition: .2s;
    
}

.Especialidades .especialidades-box i {
    font-size: 70px; 
    color: hwb(182 11% 8%); 
    
}

.Especialidades .especialidades-box h3{
    font-size: 28px; 
    margin: 15px 0; 

}

section.sobre-mim{
    padding: 40px 4%; 
}

section.sobre-mim .flex{
    align-items: center;
    gap: 60px; 
}
.sobre-mim .texto-sobre-mim{
    color: #fff; 
}

.sobre-mim .texto-sobre-mim h2{
    font-size: 40px; 
    line-height: 40px;
    margin-bottom:30px; 

}
.sobre-mim .texto-sobre-mim h2 span{
    color: hwb(182 11% 8%); 
    display: block; 
}

.sobre-mim .texto-sobre-mim p{
    margin: 20px 0; 
    text-align: justify;

}

.sobre-mim .texto-sobre-mim .btn-social button{
    width: 60px;
    height: 60px; 
    border-radius: 50%; 
    border: none; 
    background-color: hwb(182 11% 8%) ;
    font-size: 22px; 
    cursor: pointer;
    transition: .2s; 
    margin: 0 5px;  

}

.btn-social button:hover{
    box-shadow: 0px 0px 8px hwb(182 11% 8%);
    transform: scale(1.05);
}

section.formulario{
    padding: 80px 4%;

}

form{
    max-width: 500px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px; 
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #222222ad;
    border: 0; 
    outline: 0;
    padding: 20px 15px; 
    border-radius: 15px;
    color: #fff;
    font-size: 18px; 
     

}

form textarea{
    resize: none; 
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;

}

form .btn-enviar input{
    width: 120px; 
    background-color: hwb(182 11% 8%);
    color: #000000; 
    font-weight: 900px;  
    cursor: pointer;
}

